<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2005 The Apache Software Foundation or its licensors, as applicable.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->
<config:modelConfiguration xmlns:config="http://org.apache.tuscany/xmlns/model/config/0.9">

    <generatedPackage packageClassName="org.apache.tuscany.model.assembly.sdo.AssemblyPackage" uri="http://www.osoa.org/xmlns/sca/0.9" preLoad="true"/>

    <resourceFactory className="org.apache.tuscany.model.assembly.sdo.impl.AssemblyResourceFactoryImpl" extension="module"/>
    <resourceFactory className="org.apache.tuscany.model.assembly.sdo.impl.AssemblyResourceFactoryImpl" extension="fragment"/>
    <resourceFactory className="org.apache.tuscany.model.assembly.sdo.impl.AssemblyResourceFactoryImpl" extension="subsystem"/>
    <resourceFactory className="org.apache.tuscany.model.assembly.sdo.impl.AssemblyResourceFactoryImpl" extension="componentType"/>

    <resourceFactory className="org.apache.tuscany.model.types.java.impl.JavaResourceFactoryImpl" protocol="java"/>

    <resourceFactory className="org.apache.tuscany.model.types.xsd.impl.XSDResourceFactoryImpl" extension="xsd"/>
    <dynamicPackageLoader className="org.apache.tuscany.model.types.xsd.impl.XSDDynamicPackageLoaderImpl" extension="xsd"/>

    <resourceFactory className="org.apache.tuscany.model.types.wsdl.impl.WSDLResourceFactoryImpl" extension="wsdl"/>
    <dynamicPackageLoader className="org.apache.tuscany.model.types.wsdl.impl.WSDLDynamicPackageLoaderImpl" extension="wsdl"/>

    <generatedPackage packageClassName="org.eclipse.xsd.XSDPackage" uri="http://www.eclipse.org/xsd/2002/XSD"/>
    <generatedPackage packageClassName="org.eclipse.emf.ecore.xml.type.XMLTypePackage" uri="http://www.w3.org/1999/XMLSchema"/>
    <generatedPackage packageClassName="org.eclipse.emf.ecore.xml.type.XMLTypePackage" uri="http://www.w3.org/2000/10/XMLSchema"/>
    <generatedPackage packageClassName="org.eclipse.emf.ecore.xml.type.XMLTypePackage" uri="http://www.w3.org/2001/XMLSchema"/>

    <generatedPackage uri="http://www.ibm.com/wsdl/2003/WSDL" packageClassName="org.eclipse.wst.wsdl.WSDLPackage" preLoad="true"/>
    <generatedPackage uri="http://www.eclipse.org/wsdl/2003/HTTP" packageClassName="org.eclipse.wst.wsdl.binding.http.HTTPPackage" preLoad="true"/>
    <generatedPackage uri="http://www.eclipse.org/wsdl/2003/MIME" packageClassName="org.eclipse.wst.wsdl.binding.mime.MIMEPackage" preLoad="true"/>
    <generatedPackage uri="http://www.eclipse.org/wsdl/2003/SOAP" packageClassName="org.eclipse.wst.wsdl.binding.soap.SOAPPackage" preLoad="true"/>

</config:modelConfiguration>
