<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<project name="server" default="run">

	<!--echo>${runtime_classpath}</echo-->

	<target name="run">
		<java classpath="${runtime_classpath}" classname="org.apache.tuscany.sca.node.launcher.NodeMain" fork="true">
			<sysproperty key="org.apache.tuscany.sca.binding.sca.provider.SCABindingMapper.mappedBinding" value="{http://tuscany.apache.org/xmlns/sca/1.1}binding.rmi"/>
			<arg value="-node"/>
			<arg value="./server-config.xml"/>
			<!-- Give the server 60 seconds to stay -->
	        <arg value="-ttl"/>
	        <arg value="60000"/>
		</java>
	</target>
	
	<target name="run-cmdline">
		<java classpath="../../../distribution/all/target/apache-tuscany-sca-all-2.0.dir/tuscany-sca-2.0/features/tuscany-sca-manifest.jar:./target/test-classes:../helloworld-iface/target/classes" 
			  classname="itest.Service" 
			  fork="true"
			  failonerror="true">	
		</java>		
	</target>	

</project>