/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 *   
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
white-space: margin: 0px;
font-family: arial,sans-serif; font-style: normal; font-variant: normal; font-size: 13px;
}

table {
border: 0px; border-collapse: collapse; border-color: #000000; border-style: solid;
font-family: arial,sans-serif; font-style: normal; font-variant: normal; font-size: 13px;
}

th {
font-weight: bold; background-color: #3b5998; color: #ffffff;
text-align: left; padding-left: 2px; padding-right: 8px; padding-top: 2px; padding-bottom: 4px; vertical-align: text-top;
border-top: 1px; border-bottom: 1px; border-left: 0px; border-right: 0px;
border-style: solid; border-top-color: #000000; border-bottom-color: #000000;
}

.thl {
border-left: 0px;
}

.thr {
border-right: 0px;
}

.ths {
padding: 0px;
}

td {
padding-left: 2px; padding-top: 2px; padding-right: 8px; white-space: nowrap; vertical-align: text-top;
}

.tdl {
border-right: 1px;
}

.tdr {
border-left: 1px;
}

.tdw {
padding-left: 2px; padding-top: 2px; padding-right: 8px; white-space: normal; vertical-align: text-top;
}

.widgetframe {
visibility: hidden; width: 0px; height: 0px; border: 0px;
}

.loadedframe {
width: 100%; height: 100%; border: 0px;
margin: 0px; padding: 0px;
}

input {
vertical-align: middle;
-webkit-text-size-adjust: 140%;
}

textarea {
font-family: arial,sans-serif; font-style: normal; font-variant: normal; font-size: 13px;
}

a:link {
color: #3b5998;
}

a:visited {
color: #3b5998;
}

.amenu {
font-weight: bold;
color: #ffffff;
}

.smenu {
font-weight: bold;
color: #ffffff;
}

h1 {
font-size: 200%; font-weight: bold;
vertical-align: middle;
margin: 0px;
}

h2 {
font-size: 150%; font-weight: bold;
vertical-align: middle;
margin: 0px;
}

.hd1 {
font-size: 200%; font-weight: bold;
}

.hd2 {
font-size: 150%; font-weight: bold;
}

.imgbutton {
width: 142px; height: 64px; margin-left: 20px; margin-right: 20px; padding: 0px; border: 1px;
cursor: pointer; cursor: hand;
}

.tbar {
font-weight: bold; background-color: #3b5998; color: #ffffff;
margin: 0px;
padding-top: 4px; padding-left: 2px; padding-right: 8px; padding-bottom: 8px; vertical-align: text-top;
border-bottom: 1px solid #000000; border-collapse: separate;
}

.ltbar {
padding-left: 0px; padding-top: 0px; padding-right: 16px; white-space: nowrap; vertical-align: top;
}

.rtbar {
padding-left: 8px; padding-right: 0px; padding-top: 0px; white-space: nowrap; vertical-align: top;
text-align: right;
}

.suggest {
background-color: #e5ecf9; color: #598edd;
border-top: 1px; border-bottom: 1px; border-left: 1px; border-right: 1px;
border-style: solid; border-top-color: #a2bae7; border-bottom-color: #d1d3d4;
border-left-color: #d1d3d4; border-right-color: #d1d3d4;
position: absolute;
overflow: auto; overflow-x: hidden;
cursor: default;
padding: 0px; margin: 0px;
}

.suggestTable {
border: 0px; border-collapse: separate;
padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px; 
margin: 0px;
}

.suggestItem {
padding-left: 2px; padding-top: 0px; padding-bottom: 0px; padding-right: 2px; vertical-align: text-top;
background-color: #e5ecf9; color: #598edd;
}

.suggestHilighted {
padding-left: 2px; padding-top: 0px; padding-bottom: 0px; padding-right: 2px; vertical-align: text-top;
background-color: #598edd; color: #e5ecf9;
}

v\: * {
behavior:url(#default#VML);
display:inline-block; 
}

