<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <context-param>
        <param-name>org.apache.tuscany.core.webapp.ModuleComponentName</param-name>
        <param-value>testStandalone</param-value>
    </context-param>
    <listener>
        <listener-class>org.apache.tuscany.core.webapp.TuscanyServletListener</listener-class>
    </listener>
</web-app>